/* TAG */
body{
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  padding-top: 100px;
}

h1, h2, h3, h4{
  margin: 0;
  font-weight: bold;
}
/* TYPO */
.text_w{
  color: #fff;
}

/* mix */
.color_lb{
  color: #006aff;
}

.color_b{
  color: #031b4e;
}

.bg_grey{
  background: #f3f5f9;
}

.pad{
  padding: 50px 0;
}

.pad_t{
  padding:40px;
}

.pad_b{
  padding-bottom: 40px;
}

/* HEADER */
.nav_top{
  line-height: 50px;
  height: 50px;
}

.logo_top{
  height: 30px;
}

.nav_left a, .nav_right a{
  color: #031b4e;
  font-weight: 600;
}

.nav_left ul a:hover, .nav_right ul a{
  text-decoration: none;
}

.nav_right .btn_top{
  border: 1px solid #006aff;
  color: #006aff;
}

.hamburger{
  background: transparent;
  color:  #006aff;
}

/* HERO */
.hero{
  background-image: url('../img/hero.svg');
  max-width: 100%;
  background-size: cover;
  padding-bottom: 100px;
}

.text_hero p{
  font-size: 22px;
}

/* form sign in */
.sign_in{
  background-color: #fff;
  margin-top: 100px;
  border-radius: 10px;
}

.content_sign a{
  font-size: 28px;
  font-weight: bold;
}

.content_sign a:hover{
  text-decoration: none;
}

.content_sign a:last-child{
  font-size: 16px;
  text-decoration: underline;
}

.content_sign {
  padding: 20px 15px;
}

.content_sign h3{
  font-size: 28px;
  padding: 0 30px;
}

.sign_in input{
  display: block;
}

.btn_blue{
  background-color: #006aff;
  color: #fff;
  font-weight: bold;
}

.btn_white{
  background: #fff;
  color:#8c8c8c;
  box-shadow: 1px 1px 3px 1px #ccc;
  font-weight: bold;
  position: relative;
}

.icon_google{
  position: absolute;
  left: 10px;
  height: 20px;
}

.sign_in p{
  color: #031b4e;
  padding: 10px 0;
}

/* MAIN/SECTIONS */

/* section sponsor */
.sponsor_row{
  padding: 20px 0;
}

.sponsor_row h3{
  padding: 20px;
  text-transform: uppercase;
  font-size: 22px;
}

.sponsor_row img:not(:last-child){
  padding-right: 15px;
}

.img_prova img{
  width: calc((100% / 6) - 4px);
}

/* section info */
.info_main{
  color: #031b4e;
  padding: 60px 0;
}

.info_main h2{
  margin-bottom: 20px;
}

.info_main h5{
  font-weight: bold;
}

.info_main p{
  font-weight: 400;
}

.main_list_info li{
  list-style: none;
  padding: 10px 0 20px 10px;
  border-left: 2px solid #e5e8ed;
}

.main_list_info li:last-child{
  padding-bottom: 10px;
}

/* section carousel 1 */
.carousel_1{
  padding: 40px 0;
}

.carousel_1 p:first-child{
  font-size: 18px;
  padding-bottom: 40px;
}

.carousel img{
  max-width: 50%;
  margin: 10px 0;
}

.carousel i{
  font-size: 34px;
  padding: 20px;
}

.carousel small{
  font-weight: bold;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #006aff;
  display: inline-block;
}

/* section info main 2  */
.info_main_2 h3{
  padding: 20px 0;
}

/* section table */
.table_section{
  background: linear-gradient(to top, #003399 0%, #3333ff 100%);
}

.table_p{
  margin: 15px 0;
}

.table_p th{
  text-transform: uppercase;
}

.table_p a{
  color: #00d7d2;
}

.table_p tr td:last-child{
  text-align: right;
}

.border_none *{
  border-top: none !important;
}

/* section carousel 2 */
.carousel_2{
  width: 50%;
  margin: auto;
  padding: 30px 10px;
  background: #fff;
  vertical-align: middle;
  border-radius: 5px;
  display: inline-block;
}

.carousel_2 img{
  width: 60%;
  background: #fff;
}

.carousel_2 a{
  font-weight: bold;
}

.bullet{
  margin: 20px 0;
}

/* section prefooter */
.pre_footer{
  background-color: rgb(0, 105, 255);
  background-image: url('../img/bg-blue.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn_foot{
  background-color: #fff;
  margin: 20px 0;
}




/* RESPONSIVE */

@media screen and (max-width:992px) {
  h1{
    font-size: 42px;
  }

  .sponsor_row img{
    width: calc(50% - 4px);
  }
}

@media screen and (max-width:768px){
  h1{
    font-size: 32px;
  }

  .hero p{
    font-size: 20px;
  }

  .carousel a{
    display: none;
  }
}
